*{
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('resources/space.gif');
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    background-image: linear-gradient(to right, rgb(7, 7, 7), rgb(66, 65, 65));
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.9;
    border-bottom: 1px solid silver;
}

@media screen and (max-width: 500px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-boxes {
        flex-grow: 1;
        text-align: center;
    }
}

#name{
    flex-grow: 2;
    color: aqua;
    /* color: rgb(34, 0, 255); */
}


.top-boxes{
    margin-right: 15px;
    padding: 5px;

    a{
        color: silver;
    }

    a:hover{
        color:gold;
    }
}

.top-boxes:hover{
    background-color: rgb(65, 65, 65);
    color: gold;
    border-radius: 14px;
}

.hello-box{
    color: gold;
    border-style: solid;
    border-color: silver;
    border-radius: 14px;
    background-color:rgba(101, 100, 100, 0.6);
    padding: 10px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.hello-box h4{
    color: honeydew;
}

.go-to-nxt{
    font-size: 30px; 
    padding: 10px 20px; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px;
    border-style: solid;

    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.go-to-nxt:hover {
    color: gold;
    background-color: rgba(8, 8, 8, 0.6);
}

.project-sec{
    background-color: rgba(78, 77, 77, 0.4);
    border-style: solid;
    border-color:azure;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;  
}

.projectTile{
    margin-bottom: 20px;
    p{
        color:white;
    }
}

.project-link{
    color: silver;
    text-decoration: none;
}



