* {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('resources/space.gif');
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body::-webkit-scrollbar {
    display: none; 
}

nav {
    background-image: linear-gradient(to right, rgb(7, 7, 7), rgb(66, 65, 65));
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.9;
    border-bottom: 2px solid gold;
    /* position: fixed; 
    position: sticky;
    top: 0px; */
}

nav .nav-links {
    display: flex;
    flex-wrap: wrap;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    background: none;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: aqua;
    color: aqua;
}
  

@media screen and (max-width: 500px) {
    nav {
        background-image: linear-gradient(to bottom, rgb(7, 7, 7), rgb(66, 65, 65));
        display: block;
    }

    nav .mainName{
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
        margin-bottom: 2px;
        margin: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamBox {
        display: flex;
        justify-content: center;
    }

    .top-boxes {
        display: none;
    }
}

.mainName {
    flex-grow: 1;
    color: aqua;
    /* color: rgb(34, 0, 255); */
}


.top-boxes {
    margin-right: 15px;
    padding: 5px;

    a {
        color: silver;
    }

    a:hover {
        color: gold;
    }
}

.top-boxes:hover {
    background-color: rgb(65, 65, 65);
    color: gold;
    border-radius: 14px;
}

.hello-box {
    color: yellowgreen;
    border-style: solid;
    border-color: gold;
    border-radius: 14px;
    background-color: rgba(101, 100, 100, 0.5);
    padding: 10px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.hello-box:hover {
    background-image: linear-gradient(rgba(34, 253, 34, 0.2), rgba(192, 192, 192, 0.2));
    color: aqua;
}

.hello-box h4 {
    color: aquamarine;
}

.hello-box h4:hover {
    color: honeydew;
}

.go-to-nxt {
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;

    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.go-to-nxt:hover {
    color: gold;
    background-color: rgba(8, 8, 8, 0.6);
}

.project-sec {
    background-color: rgba(78, 77, 77, 0.4);
    border-style: solid;
    border-color: gold;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}

.projectTile {
    margin-bottom: 20px;

    p {
        color: white;
    }
}

.projectTile_alternate {
    margin-bottom: 20px;

    p {
        color: white;
    }
}

.project-link {
    color: silver;
    text-decoration: none;
}

/* .project-img-container {
    display: flex;
    justify-content: center;
} */

.project-img {
    max-height: 500px;
    max-width: 400px;

    height: auto;
    width: auto;

    margin-top: 10px;
    border-radius: 2%;
}

@media screen and (min-width: 600px) {
    .project-img {
        margin-right: 20px;
    }

    .project-thumbnail {
        display: flex;
        align-items: center;
    }

    .project-thumbnail h1 {
        transition: transform 0.5s ease-in-out;
    }

    .project-img-container {
        transition: transform 0.5s ease-in-out;
    }

    .project-content {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 3s ease, transform 3s ease;
    }   

    .projectTile:hover .project-content {
        visibility: visible;
        position: static;
        opacity: 1;
        transform: translateY(0);
    }

    .projectTile:hover .project-thumbnail {
        display: block;
    }

    .projectTile:hover .project-img-container {
        transform: translateX(25%);
    }

    /* Alternate Tile */

    .projectTile_alternate:hover .project-content {
        visibility: visible;
        position: static;
        opacity: 1;
        transform: translateY(0);
    }

    .projectTile_alternate:hover .project-thumbnail {
        display: block;
    }

    .projectTile_alternate .project-img-container {
        transition: transform 0.7s ease-in-out;
    }
    .projectTile_alternate:hover .project-img-container {
        transform: translateX(25%);
    }


}

@media screen and (max-width: 500px) {
    .project-img {
        max-height: 40vh;
        max-width: 40vh;
    
        height: auto;
        width: auto;
    
        margin-top: 10px;
    }

    .project-thumbnail {
        display: flex;
        flex-direction: column;
    }

    .project-thumbnail .project-img-container{
        order: 2;
    }

    .project-thumbnail h1 {
        order: 1;
    }
}

.skill-sec {
    display: flex;
    flex-wrap: wrap;
    border-style: double;
    border-color: gold;
    border-radius: 13px;
    background-color: rgba(241, 241, 241, 0.3);
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 30px;
    padding: 5px;
}

.float-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

.exp-box {
    color: gold;
    border-style: solid;
    border-color: silver;
    border-radius: 14px;
    background-color: rgba(101, 100, 100, 0.6);
    padding: 10px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;

    h4 {
        color: whitesmoke;
    }
}

.footer {
    background-color: rgba(34, 34, 34, 0.6);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-color: gold;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.footer-socials a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: aquamarine;
}

.footer-contact p {
    margin: 0;
    font-size: 1rem;
}

.footer-resume .resume-button {
    background-color: aquamarine;
    color: #222;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.footer-resume .resume-button:hover {
    background-color: #1d9e74;
    color: #fff;
}

.footer i {
    margin-right: 5px;
}

.mailbtn {
    background-color: aquamarine;
    color: #222;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mailbtn:hover {
    background-color: #1d9e74;
    color: #fff;
}

@media (min-width: 600px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    border-color: gold;
    border-style: solid;
    z-index: 10;
    color: silver;
    width: 300px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content input, .form-content textarea {
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
}

.sub_btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.sub_btn:hover {
    background-color: #ddd;
}

.close-btn {
    margin-top: 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

button[type="submit"] {
    background-color: green;
    color: white;
}

